.PresentInfo-div{
    float: left;
    margin-left: -10px;
}
@media screen and (max-width: 1100px){
    .PresentInfo-div{
        position: relative;
        top:100px;
        float:none;
    }
}
#WeatherIcon{
    position: relative;
    left:125px;
    top:-15px;
    width:100px;
}
.Date{
    position: relative;
    top:-50px;
}
.Temp{
    position: relative;
    top:70px;
    font-size: 60px;
}